.home {
  max-width: 1440px;
  margin: 0 100px 20px 100px;
  background-color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsSection {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto 80px auto; /* centrage horizontal */
  padding: 30px 2rem;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 25px;
  box-sizing: border-box;
}

.cardsWrapper {
  display: grid;
  /* grille adaptable avec colonnes minimales */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  justify-content: center;
  margin: 0 10px;
}

/* Responsive */
@media (max-width: 600px) {
  .home {
    margin: 0 5% 0 5%;
  }

  .cardsSection {
    max-width: 100%;
    margin: 0 5% 0 5%;
    padding: 15px 1rem;
  }

  .cardsWrapper {
    margin: 0;
    gap: 1rem;
  }
}
