.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  background-color: #fff;
  width: 1240px;
  height: 68px;
  margin-left: 100px;
  margin-right: 100px;
}

.nav a {
  margin-left: 50px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  font-weight: 500;
}

.active {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
