@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  /* base font-size : 16px -> 1rem = 16px */
  font-size: 16px;
}

body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

html body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* prevents horizontal scroll/cutoff */
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  max-width: 90rem; /* 1440px -> 90rem */
  width: 100%;
}
