.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  width: 100%;
  min-height: 200px;
  padding: 40px 20px;
  text-align: center;
}

.logo {
  margin-top: 66px;
  margin-bottom: 30px;
}

/*.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: black;
    border: 1px solid lightgray;
    color: white;
    text-align: center;
    margin-right:10px;
}*/

.copyright {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
}
