.banner {
  margin-left: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 0px;
  width: 1240px;
  border-radius: 25px;
}

.banner img {
  display: block;
  height: auto;
  border-radius: 25px;
  width: 1240px;
}
