.bannerHome {
  position: relative;
  margin-left: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 0px;
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  border: rgba(0, 0, 0, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.bannerAbout {
  margin-left: 100px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 0px;
  width: 1240px;
  border-radius: 25px;
}

.overlayText {
  position: absolute;
  top: 50%; /* centrer verticalement */
  left: 50%; /* centrer horizontalement */
  transform: translate(-50%, -50%); /* ajuster le centrage */
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.bannerHome img {
  filter: brightness(0.5);
}
