.banner {
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 0px;
  width: 1240px;
  /*box-shadow: 0 12px 12px rgba(0, 0, 0, 0.25);*/
  border-radius: 25px;
}

.banner img {
  display: block;
  height: auto;
  border-radius: 25px;
  width: 1240px;
}
